<h1>Favorite Recipes</h1>
<div fxLayout="wrap">
    <mat-card>
        <mat-card-title>Recipe Name</mat-card-title>
        <mat-card-subtitle>Recipe Description</mat-card-subtitle>
        <img src = "../../../assets/undraw_breakfast_psiw.svg"mat-card-image alt = "recipe">
        <mat-card-content>Description of recipe</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Recipe Name</mat-card-title>
        <mat-card-subtitle>Recipe Description</mat-card-subtitle>
        <img src = "../../../assets/undraw_breakfast_psiw.svg"mat-card-image alt = "recipe">
        <mat-card-content>Description of recipe</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Recipe Name</mat-card-title>
        <mat-card-subtitle>Recipe Description</mat-card-subtitle>
        <img src = "../../../assets/undraw_breakfast_psiw.svg"mat-card-image alt = "recipe">
        <mat-card-content>Description of recipe</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Recipe Name</mat-card-title>
        <mat-card-subtitle>Recipe Description</mat-card-subtitle>
        <img src = "../../../assets/undraw_breakfast_psiw.svg"mat-card-image alt = "recipe">
        <mat-card-content>Description of recipe</mat-card-content>
    </mat-card>
</div>