<!-- <div class = "wrapper"fxLayout="row wrap">
    <div class = "header">
        <h1>Favorite Recipes</h1><br>
    </div>

    <div class = "holder" >
        <!-- https://material.angular.io/components/paginator/examples -->
        <!-- <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
    <div  class = "holder2">
     
        <mat-card fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="75%">
            <mat-card-title>Recipe Name</mat-card-title>
            <mat-card-subtitle>Recipe Description</mat-card-subtitle>
            <img src = "../../../assets/undraw_breakfast_psiw.svg"mat-card-image alt = "recipe">
            <mat-card-content>Description of recipe</mat-card-content>
        </mat-card>
        <mat-card fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="75%">
            <mat-card-title>Recipe Name</mat-card-title>
            <mat-card-subtitle>Recipe Description</mat-card-subtitle>
            <img src = "../../../assets/undraw_breakfast_psiw.svg"mat-card-image alt = "recipe">
            <mat-card-content>Description of recipe</mat-card-content>
        </mat-card>
        <mat-card fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="75%">
            <mat-card-title>Recipe Name</mat-card-title>
            <mat-card-subtitle>Recipe Description</mat-card-subtitle>
            <img src = "../../../assets/undraw_breakfast_psiw.svg"mat-card-image alt = "recipe">
            <mat-card-content>Description of recipe</mat-card-content>
        </mat-card>
        <mat-card fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="75%">
            <mat-card-title>Recipe Name</mat-card-title>
            <mat-card-subtitle>Recipe Description</mat-card-subtitle>
            <img src = "../../../assets/undraw_breakfast_psiw.svg"mat-card-image alt = "recipe">
            <mat-card-content>Description of recipe</mat-card-content>
        </mat-card>

 </div>
</div>  -->
<div class = "page">
<div class="container">
    <div class="item-wide">
        <h1>Favorite Recipes</h1><br>
    </div>
    <div class="break"></div>
    <div class="item">
        <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
    <div  class = "holder">
        <mat-card fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="75%">
            <mat-card-title>Recipe Name</mat-card-title>
            <mat-card-subtitle>Recipe Description</mat-card-subtitle>
            <img src = "../../../assets/undraw_breakfast_psiw.svg"mat-card-image alt = "recipe">
            <mat-card-content>Description of recipe</mat-card-content>
        </mat-card>
        <mat-card fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="75%">
            <mat-card-title>Recipe Name</mat-card-title>
            <mat-card-subtitle>Recipe Description</mat-card-subtitle>
            <img src = "../../../assets/undraw_breakfast_psiw.svg"mat-card-image alt = "recipe">
            <mat-card-content>Description of recipe</mat-card-content>
        </mat-card>
        <mat-card fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="75%">
            <mat-card-title>Recipe Name</mat-card-title>
            <mat-card-subtitle>Recipe Description</mat-card-subtitle>
            <img src = "../../../assets/undraw_breakfast_psiw.svg"mat-card-image alt = "recipe">
            <mat-card-content>Description of recipe</mat-card-content>
        </mat-card>
        <mat-card fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="75%">
            <mat-card-title>Recipe Name</mat-card-title>
            <mat-card-subtitle>Recipe Description</mat-card-subtitle>
            <img src = "../../../assets/undraw_breakfast_psiw.svg"mat-card-image alt = "recipe">
            <mat-card-content>Description of recipe</mat-card-content>
        </mat-card>
    </div>
</div>
</div>