<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <h1 class="display-1 text-center text-white" >Favorite Recipes</h1>
      <div class="shape shape-style-1 shape-primary alpha-4">
        <img class = "image" src = "../../assets/img/basic.png" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew" >
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span *ngIf = "fList" class="heading">{{fList.length}}</span>
                    <span class="description">Favorites</span>
                  </div>
                  
                </div>
              </div>
            </div>
            <div  class = "holder" *ngIf = "fList" >
              <mat-paginator [length]="fList.length" [pageSize]="pageSize" (page)="getPaginator($event)"></mat-paginator>
              <div *ngFor = "let fav of fList| slice: lowValue : highValue">
                <mat-card  fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="75%">
                    <mat-card-title>{{fav.title}}</mat-card-title>
                    <button mat-icon-button color="warn" aria-label="Favite" (click)="removeFromFavorite(fav.id)">
                      <mat-icon id = {{fav.id}} [ngStyle]="{'color':'red'}">favorite</mat-icon>
                  </button>
                    <mat-card-subtitle>{{fav.id}}</mat-card-subtitle>
                    <img src = {{fav.image}} mat-card-image alt = "recipe">
                    <!-- <mat-card-content>Description of recipe</mat-card-content> -->
                    <button type="button" class="btn btn-default my-4" [routerLink]="['/recipe']">Learn More</button>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
        </div>

    </section>
    <div class="container">
        <hr>
        <div class="row align-items-center justify-content-md-between">
            <div class="col-md-6">
                <a>Spaghettio Group 2021</a>
            </div>
        </div>
    </div>
  </main>
  