img{
    height:50%;
    width:50%;
}

mat-card{
    width:20%;
    margin:auto;
    text-align: center;
    margin-left:2.5em;
    margin-right:2.5em;
    margin-top:5%;
    margin-bottom:2.5em;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.438); 
}
.holder{
    margin: auto;
    background-color:white;
    width:100%;
    height:30rem;
}

h1{
    text-align: center;
    color:white;
}
mat-paginator {
    margin: auto;
    // background-color: #5E6472;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    width:90%;
    
  }

  .border{
      width:100%;
      height:100%;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.438); 
  }

.page{
    height:100%;
     background-image: url("../../../assets/login.png");
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

.item { 
    flex-grow: 1; 
}

.item-wide { 
    flex-grow: 4; 
    margin: auto;
    height:70%;
}

body{
    margin:0;
}
