<div class = "wrapper" fxLayoutAlign="center">
    <div fxLayout="wrap" class = "container">
        <div fxFlex = "row" class = "description">
            <h1>Input your ingredients</h1><br>
            <form [formGroup]="ingredientFormGroup" (ngSubmit)="addIngredient()">
                <!-- (ngSubmit)="addIngredient()" -->
                    
                    <input matInput formControlName="ingredient"><br>
                    <button mat-raised-button [disabled]="ingredientFormGroup.invalid">Add Ingredient</button>
                </form>
            <mat-list>
                <mat-list-item> Pepper </mat-list-item>
                <mat-list-item> Salt </mat-list-item>
                <mat-list-item> Paprika </mat-list-item>
            </mat-list>
        </div>
        <div fxFlex = "row" class = "description" >
            <h1>Available Recipes</h1><br>
            <div fxLayout="wrap">
                <mat-card>
                    <mat-card-title>Recipe Name</mat-card-title>
                    <mat-card-subtitle>Recipe Description</mat-card-subtitle>
                    <img src = "../../../assets/img/undraw_breakfast_psiw.svg"mat-card-image alt = "recipe">
                    <mat-card-content>Description of recipe</mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-title>Recipe Name</mat-card-title>
                    <mat-card-subtitle>Recipe Description</mat-card-subtitle>
                    <img src = "../../../assets/img/undraw_breakfast_psiw.svg"mat-card-image alt = "recipe">
                    <mat-card-content>Description of recipe</mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
