<section class="section-profile-cover section-shaped my-0">
    <h1 class="display-1 text-center text-white" >Search Recipes</h1>
    <div class="shape shape-style-1 shape-primary alpha-4">
        <img class = "image" src = "../../assets/img/basic.png" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
  </div>
  <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
  </div>
</section>
<div class="container ">
    <div class="card shadow text-center mt--300">
        <div class="row">
            <div class="col-lg-4 text-center ">
                <h3>Input ingredients</h3>
                <mat-radio-group
                    [(ngModel)]="dietPreference">
                    <mat-radio-button class = "example-radio-button "*ngFor="let diet of diets" [value]="diet.name" >
                        {{diet.name}}
                    </mat-radio-button>
                </mat-radio-group>
                <div class = "row">
                    <form fxFlex [formGroup]="ingredientFormGroup" (ngSubmit)="addIngredient(ingredientFormGroup.value)">
                        <input fxFlex class="form-control input" required  formControlName="ingredient">
                        <button class = "btn-default plus">+</button>
                    </form>
                </div>
                <div>
                    <button class = "btn btn-default " [disabled]="ingredientFormGroup.invalid" (click) = "searchRecipesByQuery(dietPreference, selectedIngredients) ">Search</button>
                </div>
                    <mat-list class="text-center" *ngFor="let ingredient of ingredients; let i = index">
                        <mat-checkbox [(ngModel)]="ingredient.checked" (change)="getCheckboxes()"[color]="blue">  {{ingredient.ingredient}} </mat-checkbox>
                    <button mat-icon-button (click)="deleteIngredient(i, ingredient, ingredients)"><mat-icon>delete</mat-icon></button> 
                    </mat-list>
                </div>
                <div class="col-lg-8" >
                    <h2>Results</h2><br>
                    <mat-paginator [length]="viewrecipe.length" [pageSize]="pageSize" (page)="getPaginator($event)"></mat-paginator>
                    <div *ngIf="viewrecipe.length == 0">
                        <h4>Press search to find recipes</h4>
                    </div>
                    <div class = "holder" *ngFor= "let recipe of viewrecipe | slice: lowValue : highValue">
                        <mat-card fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="75%">
                            <mat-card-title>{{recipe.title}}</mat-card-title>
                            <button mat-icon-button color="warn" aria-label="Favite" (click)="favorite(recipe.id, recipe)" *ngIf = "recipe.favorite == true">
                                <mat-icon id = {{recipe.id}} [ngStyle]="{'color':'red'}">favorite</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" aria-label="Favite" (click)="favorite(recipe.id, recipe)" *ngIf = "recipe.favorite == false">
                                <mat-icon id = {{recipe.id}} [ngStyle]="{'color':'black'}">favorite</mat-icon>
                            </button>
                            <mat-card-subtitle></mat-card-subtitle>
                            <img src = {{recipe.image}} mat-card-image alt = "recipe">
                            <mat-card-content> id: {{recipe.id}}</mat-card-content>
                            <button type="button" class="btn btn-default my-4" [routerLink]="['/recipe', recipe.id]">Learn More</button>
                        </mat-card>
                    </div>            
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div class="container">
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <a>Spaghettio Group 2021</a>
      </div>
    </div>
</div>
