.container{
    font-family: 'Roboto', sans-serif;
    width:30%;
    height:60%;
    color:white;
}

.container2{
    width:90%;
    height:70%;
    margin:auto;
    border-radius: 1rem 1rem 1rem 1rem;
    color:black;
}
.wrapper{
    margin:auto;
    height:100%;
    width:100%;
    background-image: url("../../../assets/accent7.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrapper2{
    margin:auto;
    height:100%;
    width:100%;
    background-image: url("../../../assets/accent8.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.image, .description{
    margin-top:30%;
    margin-left:4em;
}
  .description2{
    width: 10rem;
    margin:auto;
    height:25rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.438); 
    border-radius: 5px;
    margin-left:5rem;
    margin-right:5rem;
    margin-top:10%;
    padding:0;
  }
  mat-card{
      padding:0;
  }
  .header{
      width:100%;
      height:50%;
      background-color: #5E6472;
      border-bottom: .4rem solid #4e515a;
      margin:0;
      padding:0;
      z-index: 10;
  }
  .card{
      width:100%;
      height:100%;
  }
  .card img{
      width:60%;
  }
  .card mat-card-title{
      text-align: center;
      color:white;
  }
  #big{
      margin-top:1.2rem;
  }

  .card mat-card-content{
      font-size: 1rem;
  }
  .card mat-card-title{
      font-size: 2.6rem;
  }
.description2:hover{
    outline: thick solid  rgba(255, 255, 255, 0.637);
   }
.title{
    margin: auto;
    width:100%;
}
button{
    border: 0;
    color: #5E6472;
    width:75%;
}
.containerFooter{
    width:100%;
    margin:auto;
    bottom: 3%;
    position: absolute;
    color:black;
}
.display{
    width:50%;
}
@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(1rem);
	}
}
.arrow{
    width:2%;
    height:2%;
    margin:auto;
    filter: brightness(0) invert(1);

}
 #wheel {
	animation: scroll ease 2s infinite;
}

#header{
    margin:auto;
    text-align: center;
    padding-top:1rem;
    font-size: 3rem;
    color:white;
}

.description2 h1{
    font-size: 2rem;
    text-align: center;
    color:#5E6472;
    z-index: 10;
}
.description2 img{
    margin-left: 25%;
}
.description2 p{
    color:black;
    text-indent:1em;
    font-size: 1.2em;
}



   
