.container{

    margin-left:8em;
    width:30%;
    height:60%;
    color:#6D597A;
    
}

// .description{
//     text-align: center;
// }
h1{
    //border-bottom: .1em solid #355070;
    text-align: left;
    font-size:3em;
    color:#6D597A;
}

.image img{
    width:100%;
    height:70%;
}

.wrapper{
    margin:0;
    height:100%;
    width:100%;
    background-image: url("../../../assets/accent3.png");
}
body{
    margin:0;
    color:#6D597A;
}

.image, .description{
    margin-top:50%;
}
.wrapper2{
    margin:0;
    height:100%;
    width:100%;
  
}