.container{
    font-family: 'Roboto', sans-serif;
    width:30%;
    height:60%;
    color:white;
}


// .description{
//     text-align: center;
// }
h1{
    font-size:3em;
    color:white;
    margin:auto;
}

.image img{
    width:100%;
    height:70%;
}

.wrapper{
    margin:auto;
    height:100%;
    width:100%;
    background-image: url("../../../assets/accent7.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrapper2{
    margin:auto;
    height:100%;
    width:100%;
    background-image: url("../../../assets/accent8.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    margin:0;
    color:white;
}

.image, .description{
    margin-top:38%;
    margin-left:4em;
}

.alert{
    text-align: center;
    margin:auto;
  }
  .toolbar{
    background-color: #CEABB1;
    font-size:20px;
    letter-spacing: 2px;
    font-family: 'PT Serif', serif;
    max-width: 100%;
    height:8%;
    color:white;
  }

  .description2{
    width: 10rem;
    margin:auto;
    height:30rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    margin:auto;
    margin-left:5rem;
    margin-right:5rem;
    margin-top:20%;

  }
  .description2:before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.603);
    filter: blur(3px);
    margin:auto;
   }

   .description2:hover{
    outline: thick solid  white;
   }
#footer {
    width:100%;
    margin:auto;
    bottom: 0%;
    position:fixed;
    
}
#feature{
    width:100%;
    margin:auto;
}
.title{
    margin: auto;
    width:100%;
}

button{
    border: 0;
    color: #5E6472;
    width:75%;
}

.containerFooter{
    width:100%;
    color:white;
    margin: auto;
    bottom:0;
    color:black;
}
.display{
    width:50%;
}
@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(60px);
	}
}

#wheel {
	animation: scroll ease 2s infinite;
}


   
