<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient">
            <img class = "image" src = "../../assets/accent7.png" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="container pt-lg-md">
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="card bg-secondary shadow border-0">
                  <div class="card-header bg-white pb-5">
                    <div class="text-muted text-center mb-3">
                      <small>Sign in with</small>
                    </div>
                  </div>
                  <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                      <small>Or sign in with credentials</small>
                    </div>
                    <form role="form">
                      <div class="form-group mb-3" >
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                          </div>
                          <input class="form-control" placeholder="Email" type="email">
                        </div>
                      </div>
                      <div class="form-group" >
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                          </div>
                          <input class="form-control" placeholder="Password" type="password">
                        </div>
                      </div>
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                        <label class="custom-control-label" for=" customCheckLogin">
                          <span>Remember me</span>
                        </label>
                      </div>
                      <div class="text-center">
                        <button type="button" class="btn btn-primary my-4">Sign in</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-6">
                    <a href="javascript:void(0)" class="text-light">
                      <small>Forgot password?</small>
                    </a>
                  </div>
                  <div class="col-6 text-right">
                    <a href="javascript:void(0)" class="text-light">
                      <small>Create new account</small>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </section>



<!-- <div class = "page"> 
    <mat-card class="login-card" fxLayout="wrap">        
        <div fxLayout="column" class = "container">
            <div fxLayout="row" fxLayoutAlign="right" class = "holder">
                <div fxLayout="column" class="form-container" class = "welcome">
                    <h1>Welcome!</h1>
                    <img src = "../../assets/login.svg" alt ="user" id ="welcomeImg"><br>
                </div>
            <div fxLayout="row wrap" fxLayoutAlign="left" >
                <mat-tab-group>
                    <mat-tab label="Login">
                        <ng-template matTabContent>
                            <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
                                <div fxLayout="column" class="form-container">
                                    <mat-form-field>
                                        <mat-placeholder>
                                            <mat-icon class="white-icon">email</mat-icon>
                                        </mat-placeholder>
                                        <input matInput required formControlName="email"
                                            type="email" />
                                    </mat-form-field><br>
                                    <mat-form-field>
                                        <mat-placeholder>
                                            <mat-icon class="white-icon">lock</mat-icon>
                                        </mat-placeholder>
                                        <input matInput required formControlName="password"
                                            type="password" />
                                    </mat-form-field>
                                    <button mat-raised-button [disabled]="loginFormGroup.invalid">Login</button>
                                </div>
                            </form>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Register">
                        <ng-template matTabContent>
                            <form [formGroup]="registerFormGroup" (ngSubmit)="register()">
                                <div fxLayout="column" class="form-container">
                                    <mat-form-field>
                                        <mat-placeholder>
                                            <mat-icon>person</mat-icon>
                                
                                        </mat-placeholder>
                                        <input matInput required formControlName="name" />
                                    </mat-form-field><br>
                                    <mat-form-field>
                                        <mat-placeholder>
                                            <mat-icon>email</mat-icon>
                                
                                        </mat-placeholder>
                                        <input matInput required  formControlName="email"
                                            type="email" />
                                    </mat-form-field><br>
                                    <mat-form-field>
                                        <mat-placeholder>
                                            <mat-icon>lock</mat-icon>
                        
                                        </mat-placeholder>
                                        <input matInput required formControlName="password"
                                            type="password" />
                                    </mat-form-field>
                                    <button mat-raised-button [disabled]="registerFormGroup.invalid">Register</button>
                                </div>
                            </form>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        </div>
    </mat-card>
</div> -->
<div class="container">
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <a>Spaghettio Group 2021</a>
      </div>
    </div>
  </div>
</main>
