// .login-card {
//     width: 100%;
//     margin:auto;
//     height:60%;
//     box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
//     z-index: 1;
//     background: inherit;
//     overflow: hidden;
//     padding:0;
//   }

//   .page{
//     margin: auto;
//   }

//   .login-card:before{
//     content: "";
//     position: absolute;
//     background: inherit;
//     z-index: -1;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
//     filter: blur(10px);
//    }

//   .form-container {
//     padding-top: 1em;
//     padding-left:2em;
//     padding-right:2em;
//     height:100%;
//     margin:auto;
//   }

//   mat-tab-group{
//       margin:auto;
//   }

//   .container{
//     margin:auto;  
//     padding:0;
//     margin:0;
//   }
// .page{
//     height:100%;
//     background-image: url("../../../assets/login.png");
//     background-attachment: fixed; 
//     background-size: cover;
//     display: grid;
//     align-items: center;
//     justify-content: center;
//     padding:0;
//   }

//   button{
// 	width: 100%;
// 	border-radius: 2em;
// 	background-color: #AED9E0;
// 	font-size: 1.2rem;
// 	color: #fff;
// 	text-transform: uppercase;
// 	margin: 1rem 0;
// 	cursor: pointer;
//   }

// input{
//     background:none;
//     border:none;
//     width:100%;
//     height:100%;
// }
// mat-icon{
//     color:black;
// }

// ::ng-deep.mat-tab-label{
//     font-size: 25px !important;
//     color:#5E6472 !important;
//   }

// ::ng-deep.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
//     background: black !important;
//     height:.1em;
//   } 

//   #welcomeImg{
//     width:70%;
//   }
//   .welcome{
//     height:100%;
//     padding:0;
//     background-color: #5e6472d2;
//   }
//   .welcome img{
//     margin:auto;
//   }
//   .welcome h1{
//     text-align: center;
//     font-size: 3rem;
//     color:#AED9E0;
//   }
//   .holder{
//     width:100%;
//     height:100%;
//   }

  
  


