.btn{
    margin-left:.1rem;
    margin-top:.2rem;
    width:90%;
    margin-right:4rem;
}

.form-control{
    margin-left:6rem;
    padding:0;
    width:60%;
    margin-top:0;
    margin-right:0;
}

.plus{
    width:20%;
    float: left;
}

.list{
    margin-left:6rem;
}
.del{
    border: none;
    left:1rem;
}
body{
    background-color: white;
}

.holder{
    height:50rem;
}

.btn-default{
    margin-right:6rem;
}
.mat-icon-button{
    margin-left:85%;
    position:absolute;
}
.strike{
    text-decoration: line-through;
}

