<div class="rrapper">
  <mat-toolbar fxLayout="row" color="primary" class = "toolbar">
    <img width = "3%" src = "../../../assets/img/logo.png" alt = "image">
    <span>Recipe Generator</span>
    <!-- only show if logged in  -->
    <div fxFlex fxLayoutAlign="flex-end"  *ngIf ="(this.auth.isLoggedIn != false)" >
      <a mat-button class="navButton" fxHide.xs  [routerLink]="'/home'">Home </a>
      <a mat-button class="navButton" fxHide.xs  [routerLink]="'/shopping-cart'">Shopping Cart</a>
      <a mat-button class="navButton" fxHide.xs  [routerLink]="'/favorite'">Favorites</a>
      <a mat-button class="navButton" fxHide.xs  [routerLink]="'/search'">Search</a>
      <a mat-button class="navButton" fxHide.xs  (click) = "logout()">Logout</a>
    </div>

    <div *ngIf ="(this.auth.isLoggedIn != false)">
      <button class="navButton" mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #dropMenu="matMenu">
        <a mat-menu-item class="navButton" [routerLink]="'/home'">Home </a>
        <a mat-menu-item class="navButton active" [routerLink]="'/shopping-cart'">Shopping Cart </a>
        <a mat-menu-item class="navButton" [routerLink]="'/favorite'"> Favorites </a>
        <a mat-menu-item class="navButton active" [routerLink]="'/search'">Search </a>
        <a mat-menu-item class="navButton" (click) = "logout()" > Logout </a>
  </mat-menu>
</div>
  </mat-toolbar>
</div>
<noscript> Your JavaScript is disabled </noscript>
<router-outlet></router-outlet>