.navButton{
    text-decoration: none;
    color: #AED9E0;
    align-self: right;
}

.toolbar{
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; 
}
.mat-toolbar.mat-primary {
    background: #5E6472;
  }

  body{
      margin:0;
      color: white;
  }
  span{
      color:#AED9E0;
  }
  .mat-menu-item{
      color: #5E6472;
  }