.navButton{
    text-decoration: none;
    color: black;
    padding: 1em;
}



.toolbar{
    overflow: hidden;
}
.mat-toolbar.mat-primary {
    background: #354f6e00;
  }

  body{
      margin:0;
      color: black;
  }
  span{
      color:black;
  }