.navButton{
    text-decoration: none;
    color: black;
    padding: 1em;
}



.toolbar{
    overflow: hidden;
}
.mat-toolbar.mat-primary {
    background: #5E6472;
  }

  body{
      margin:0;
      color: white;
  }
  span{
      color:#AED9E0;
  }